// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.heading {
    font-size: 2.5rem;
    font-family: $ff-accent;
    font-weight: $fw-bold;
    line-height: 95%;
}

.card-content-margin {
    margin-top: 2rem;
}

.grid-1x1-centre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}