// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Font Families
$ff-main: 'Montserrat', sans-serif;
$ff-accent: 'Fraunces', serif;

// Font Weights
$fw-normal: 500;
$fw-bold: 700;

// Font Sizes
$fs-normal: 1em ;
$fs-normal-plus: 1.15rem;


// Colors

$clr-green-dark: hsl(158, 36%, 37%);
$clr-blue-dark: hsl(212, 21%, 14%);
$clr-grey-dark: hsl(228, 12%, 48%);
$clr-cream: hsl(30, 38%, 92%);
$clr-white: hsl(0, 0%, 100%);
